<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

    <Identity
        Name="MicaForEveryone"
        Publisher="CN=MicaForEveryone"
        Version="1.2.0.0" />

    <mp:PhoneIdentity PhoneProductId="533584ee-ace8-4310-adb6-d59b701b7236" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

    <Properties>
        <DisplayName>MicaForEveryone.UI</DisplayName>
        <PublisherDisplayName>MicaForEveryone</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application
            Id="MicaForEveryone.UI"
            Executable="$targetnametoken$.exe"
            EntryPoint="MicaForEveryone.UI.App">
            <uap:VisualElements
                DisplayName="ms-resource:AppName"
                Description="ms-resource:AppName"
                Square150x150Logo="Assets\Square150x150Logo.png"
                Square44x44Logo="Assets\Square44x44Logo.png"
                BackgroundColor="transparent">
                <uap:DefaultTile/>
            </uap:VisualElements>
        </Application>
    </Applications>

    <Capabilities>
    </Capabilities>
</Package>